<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78590369173-odurnpv85uqb9odkgj9mm1p3opja6tbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78590369173-odurnpv85uqb9odkgj9mm1p3opja6tbl</string>
	<key>API_KEY</key>
	<string>AIzaSyC2b8l-rldlGE_mFQwEjXJFZu193gLYy5g</string>
	<key>GCM_SENDER_ID</key>
	<string>78590369173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salesFinder</string>
	<key>PROJECT_ID</key>
	<string>sales-finder-1cad8</string>
	<key>STORAGE_BUCKET</key>
	<string>sales-finder-1cad8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78590369173:ios:f7b29d5e4234808b35ea9c</string>
	<key>DATABASE_URL</key>
	<string>https://sales-finder-1cad8-default-rtdb.firebaseio.com</string>
</dict>
</plist>